# Server Configuration
PORT=5000

# MongoDB Connection
MONGODB_URI=mongodb+srv://cove-admin:JMK4JNowlnc31abx@cove-childcare.keebw8.mongodb.net/cove-childcare

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=waleedanjum936@gmail.com
EMAIL_PASS=yvehpcmlbeftbteq
CONTACT_EMAIL=contact@covechildcare.co.uk